@{
    ViewBag.Title = "Lista";
}
<h2>@ViewBag.Title</h2>
@if(@ViewBag.Messaggio == null) {
    <div class=" container">
        <div class="row">
            <div class="col-md-2">
                Id
            </div>
            <div class="col-md-2">
                Data
            </div>
            <div class="col-md-2">
                Giorno
            </div>
            <div class="col-md-2">
                Pasto
            </div>
        </div>
        <hr />
        @foreach(var p in @ViewBag.ListaMenu) {
            <div class="row">
                <div class="col-md-2">
                    @p.Id
                </div>
                <div class="col-md-2">
                    @p.Data.ToShortDateString();
                </div>
                <div class="col-md-2">
                    @p.Giorno
                </div>
                <div class="col-md-2">
                    @p.Pasto
                </div>
                <div class="col-md-2">
                    <a class="btn btn-default" href="/Home/Dettaglio/@p.Id">Dettagli</a>
                </div>
            </div>
        }
    </div>
}
